@use "variable" as *;

.business-container {
  margin-top: 50px;
  // display: flex;
  justify-content: center;
  align-items: center;
  // height: 45rem;
  height: auto;
  // background-color: $white-f4;

  .business-details-form {
    background-color: $white;
    border-radius: 10px;
    box-shadow: $box-shadow-login;
    width: 80%;
    padding: 20px;
    text-align: center;

    h2 {
      color: $blue;
      margin-bottom: 20px;
    }

    form {
      .form-row {
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 15px;

        .form-group {
          flex: 1;
          max-width: 85%; // add a max-width property
          margin: 0 10px;
          display: flex;
          flex-direction: column;

          label {
            font-size: 0.9rem;
            color: $black-555;
            margin-bottom: 5px;
            text-align: left;
          }

          input,
          textarea {
            border: 1px solid $gray-ddd;
            border-radius: 5px;
            padding: 10px;
            font-size: 0.9rem;
            color: $black-333;

            &:focus {
              outline: none;
              border-color: $blue;
              box-shadow: $blue-box-shadow;
            }
          }

          textarea {
            resize: none;
          }
        }
      }

      .update-btn {
        width: fit-content;
        background: $gradient-background;
        border: none;
        color: $white;
        padding: 10px 10px;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: $gradient-background;
        }
      }
    }
  }

  .right-business-details {
    // display: none; // Initially hidden
    background: $white-f9; // Light background color from your palette
    padding: 20px;
    border-radius: 10px;
    box-shadow: $box-shadow-login; // Matching box-shadow from your variables
    margin-top: 85px;
    transition: all 0.3s ease-in-out;

    h2 {
      font-size: 20px;
      color: $blue; // Using your blue color variable
      margin-bottom: 15px;
      text-align: center;
    }

    p {
      font-size: 16px;
      color: $black-333; // Dark text for readability
      margin: 5px 0;
      line-height: 1.5;

      strong {
        color: $green; // Highlighting labels with your green color
      }

      a {
        color: $blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media #{$lg-device} {
      padding: 15px;
      font-size: 14px;
    }

    @media #{$sm-device} {
      padding: 10px;
      font-size: 13px;
    }
  }

  // Show details when active
  .show-details {
    display: block;
  }
}