.title-section {
    text-align: center;
    margin: 20px 0;
  
    h1 {
      font-size: 2rem;
      color: #383ba1;
    }
  
    p {
      font-size: 1rem;
      color: #555;
    }
  }
  